<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:b="http://bootsfaces.net/ui">

<f:metadata>
	<f:viewParam name="id" value="#{todoBean.id}" />
	<f:event listener="#{todoBean.retrieve}" type="preRenderComponent" />
</f:metadata>

<h:body>
	<ui:composition template="/templates/common.xhtml">
		<ui:define name="content">
			<b:panel title="Conception" look="success" collapsible="false">
				<h:form>
					<b:panelGrid columns="3" styleClasses="label, component, required">
						<h:outputLabel for="title" value="Titre: " />
						<h:inputText id="title" value="#{todoBean.todo.title}"
							style="width:100%" />
						<h:outputText value="*" />

						<h:outputLabel for="description" value="Description: " />
						<h:inputText id="description" value="#{todoBean.todo.description}"
							style="width:100%" />
						<h:outputText value="*" />

						<h:outputLabel for="expiration" value="Échéance: " />
						<b:dateTimePicker id="expiration"
							value="#{todoBean.todo.expiration}" />
						<h:outputText value="" />

						<h:panelGroup>
							<h:panelGrid columns="2">
								<b:link outcome="/index.xhtml" value="Annuler" look="default" />
								<b:commandButton action="#{todoBean.save}" value="Enregistrer"
									look="success" />
							</h:panelGrid>
						</h:panelGroup>
					</b:panelGrid>
				</h:form>
			</b:panel>
		</ui:define>
	</ui:composition>
</h:body>
</html>